@import '../../../assets/css/index.scss';

.about{
   margin: $between-section 0;

   @include mobile{
      margin: $between-section-mobile 0;
   }


   &_box{
      padding-top: $between-section;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mobile{
         padding-top: $between-section-mobile;
      }


      h1{
         margin-bottom: 2rem;
      }


      &__item{
         @include mobile{
            max-width: 100%;
         }

         border-radius: $border-radius_40;
         width: 35rem;
         padding: 1rem;
         position: relative;

         .number{
            position: absolute;
            border-radius: $border-radius_40;
            font-size: 2rem;
            padding: 0.5rem;
            color: white;
         }
      }
      &__item:not(:last-child){
         margin-bottom: 2rem;
         .number{
            
         }
      }
      &__item_p{
         border: 2px solid $purple-color;
         color: $purple-color;
         .number{
            transform: translateX(-2rem) translateY(-3.5rem);
            background-color: $purple-color;

            @include mobile{
               transform: translateX(0rem) translateY(-3.5rem);
            }
         }
      }
      &__item_r{
         border: 2px solid $pink-color;
         color: $pink-color;
         .number{
            transform: translateX(31rem) translateY(-3.5rem);
            background-color: $pink-color;

            @include mobile{
               transform: translateX(65vw) translateY(-3.5rem);
            }
         }
      }
      &__item_o{
         border: 2px solid $orange-color;
         color: $orange-color;
         .number{
            transform: translateX(-2rem) translateY(-3.5rem);
            background-color: $orange-color;

            @include mobile{
               transform: translateX(0rem) translateY(-3.5rem);
            }
         }
      }


      .how{
         padding-top: $between-section;
         display: flex;
         flex-direction: column;
         align-items: center;

         .text{
            text-align: center;

         }
         .number{
            font-size: 16rem;
            background: $pur_oran_yel-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;

            @include mobile{
               font-size: 30vw;
            }

         }
      }
   }
}