@import '../assets/css/index.scss';

.button{
    padding: 0.5rem 1rem;
    border-radius: $border-radius_15;

    font-size: 1rem;
    font-family: 'Steppe', sans-serif;
    font-weight: bold;
    cursor: pointer;
}