
$container-widht: 1300px;
$header-heigth: 100px;
$between-section: 5rem;

$white-color: #FFFFFF;
$yellow-color: #FFF968;
$black-color: #2B2B2B;
$purple-color: #D49DFF;
$blue-color: #C6EEF0;
$pink-color: #FF646D;

$border-radius: 30px;
