@import './_variables.scss';


// FONTS=========================================================
@import url(
    'https://fonts.googleapis.com/css2?family=Jost&display=swap'
    );
@font-face {
    font-family: "OneDays";
    font-weight: 400;
    src: url("../fonts/DaysOne.ttf") format("ttf"),
         url("../fonts/DaysOne.woff2") format("woff2"),
         url("../fonts/DaysOne.woff") format("woff");
  }

.fonts_onedays_1_8_white{
    font-size: 1.8rem;
    font-family: 'OneDays', sans-serif;
    color: $white-color;
    font-weight: 400;
}
.fonts_onedays_1_8_black{
    font-size: 1.8rem;
    font-family: 'OneDays', sans-serif;
    color: $black-color;
    font-weight: 400;
}
.fonts_onedays_1{
    font-size: 1rem;
    font-family: 'OneDays', sans-serif;
}
.fonts_onedays_0_7_black{
    font-size: 0.7rem;
    font-family: 'OneDays', sans-serif;
    color: $black-color;
}
.fonts_onedays_0_7_white{
    font-size: 0.7rem;
    font-family: 'OneDays', sans-serif;
    color: $white-color;
}
.fonts_jost_0_8_white{
    font-size: 0.8rem;
    font-family: 'Jost', sans-serif;
    color: $white-color;
}
.fonts_jost_0_8_black{
    font-size: 0.8rem;
    font-family: 'Jost', sans-serif;
    color: $black-color;
}
// FONTS=========================================================



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: 'OneDays', sans-serif;
    color: $black-color;
}

.container{
    width: 100%;
    max-width: $container-widht;
    margin: auto;
    padding: 0 2rem 0 2rem;
}



