@import '../assets/css/index.scss';

.footer{
    width: 100%;
    display: flex;
    align-items: center;

    &_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white-color;
        border-radius: 0px 0px $border-radius_40 $border-radius_40;
        height: $header-footer-heigth;
        padding: 0 $padding-side;

        @include mobile{
            flex-direction: column;
        }

        .footer_box__year,
        .footer_box__name,
        .footer_box__politics{
            @include mobile{
                text-align: center;
                margin-bottom: 15px;
            }
        }

    }
}