@import '../assets/css/index.scss';

.header{
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;

    &_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white-color;
        border-radius: 0px 0px $border-radius_40 $border-radius_40;
        height: $header-footer-heigth;
        padding: 0 $padding-side;

        &__logo{
            background: $red_oran-gradient;
            border-radius: $border-radius_20;
            padding: 1rem 0.85rem;
            color: $white-color;
            cursor: pointer;
        }

        &__menu{
            display: flex;
            align-items: center;

            &_item{
                cursor: pointer;
            }
            &_item:not(:last-child){
                margin-right: 3rem;
            }
        }
        &__login{
            font-weight: 700;
            margin-right: 20px;
            cursor: pointer;
        }


        .social_custom{
            display: flex;
            align-items: center;
        }
    }
}