@import '../assets/css/index.scss';

.header{
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;

    .header_content{
        background: $white-color;
        border-radius: 0px 0px $border-radius_40 $border-radius_40;
        padding: 2rem $padding-side;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        .header_box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
    
            &__logo{
                background: $red_oran-gradient;
                border-radius: $border-radius_20;
                padding: 1rem 0.85rem;
                color: $white-color;
                cursor: pointer;
            }
    
            &__menu{
                display: flex;
                align-items: center;

                @include mobile {
                    display: none;
                }
                
    
                &_item{
                    cursor: pointer;
                }
                &_item:not(:last-child){
                    margin-right: 3rem;
                }
            }
            &__login{
                font-weight: 700;
                margin-right: 20px;
                cursor: pointer;

                @include mobile {
                    display: none;
                }
            }
    
    
            .social_custom{
                display: flex;
                align-items: center;

                @include mobile {
                    display: none;
                }
            }
        }



        .burger_menu{
            display: none;
            width: 50px;
            height: 50px;

            @include mobile {
                display: block; 
            }

            img{
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
        }

        .header_menu{
            height: 0;
            width: 100%;
            overflow: hidden;
            display: none;

            @include mobile {
                display: block;
            }

            .header_menu_link{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                &__item{
                    text-align: center;
                    margin-top: 15px;
                }
            }

            .header_menu_social{
                margin-top: 17px;
                display: flex;
                justify-content: center;

                &__item{
                    width: 46px;
                    height: 46px;
                }
                &__item:not(:last-child){
                    margin-right: 15px;
                }
            }



            
        }

    }

    
}