@import '../../../assets/css/index.scss';

.reviews{
    padding: $between-section*2  0 $between-section*2 0;
    

    &_box{

        
        h1{
            margin-bottom: 2rem; 
            text-align: center;
        }
    }
}




