@import '../../../assets/css/index.scss';

.video{
    padding: $between-section 0 $between-section 0;
    

    &_box{

        
        h1{
            margin-bottom: 2rem; 
            text-align: center;
        }
    }
}




