@import '../../../assets/css/index.scss';

.video{
    padding: $between-section 0 $between-section 0;
    

    &_box{

        
        h1{
            margin-bottom: 2rem; 
            text-align: center;
        }
        &__contain{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;

            &_item{
                background-color: $blue-color;
                border-radius: $border-radius;
            }
        }
    }
}