@import '../../../assets/css/index.scss';

.main{
    background: url('../../../assets/img/bg_main.png');
    background-size: 100% 100%;
    padding-top: 12rem;

    .main_box{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 0px;
        padding: 0 $padding-side;

        &__img{

            img{
                width: 100%;
                height: 100%;
            }
        }

        &__info{

            .new{
                margin: 1.5rem 0;
            }
            .btn{
                display: flex;
                flex-direction: column;
            }
            Button{
                margin: 0.5rem 0;
            }
        }
    }
}