@import '../../../assets/css/index.scss';

.personal{
    background-size: 100% 100%;
    padding: $between-section 0;

    .personal_box__list,
    .personal_box__priorities{
        width: 40%;
    }

    &_box{
        padding: $padding-side;
        background: $pur_oran_yel-gradient-2;
        border-radius: $border-radius_40;
        display: flex;  
        justify-content: space-between;
        align-items: center;


        &__list{

            h1{
                margin-bottom: 2rem; 
                font-weight: normal;
            }
            &_item{
                font-weight: bold;
                margin-bottom: 2rem;
            }
        }


        &__priorities{

            &_contain{
                position: relative;

                .item_contain_rigth{
                    display: grid;
                    grid-template-columns: 1fr 4fr;
                    grid-template-rows: 1fr;
                    grid-column-gap: 20px;
                    grid-row-gap: 0px;
                    margin-bottom: 1.5rem;
                }
    
                .item_contain_left{
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                    grid-template-rows: 1fr;
                    grid-column-gap: 20px;
                    grid-row-gap: 0px;
                    margin-bottom: 1.5rem;
                }

                .txt{
                    background: $wt_g-gradient;
                    border-radius: $border-radius;
                    padding: 1rem 1.5rem;
                }

                img{
                    position: absolute;
                    height: 8rem;
                };

                .arrow_1{ transform: translateY(-34rem) translateX(0rem)}
                .arrow_2{ transform: translateY(-24rem) translateX(19rem)}
                .arrow_3{ transform: translateY(-18rem) translateX(-3rem)}
                .arrow_4{ transform: translateY(-13rem) translateX(19rem)}
                .arrow_5{ transform: translateY(-9rem) translateX(-3rem)}
            }
        }
    }
}